body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #productForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #productForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #productForm input[type="text"],
  #productForm input[type="number"],
  #productForm select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #productForm input[type="file"] {
    margin-bottom: 15px;
  }
  
  #productForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #productForm button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  nav {
    background-color: #444;
    padding: 1rem 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ff9900;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .textos-header h1 {
    font-size: 50px;
    color: #fff;
  }
  
  .textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
  }
  
  header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
  }
  
  #loading-message,
  #complete-message {
    display: none;
    padding: 10px;
    margin: 10px 0;
  }
  
  #loading-message {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  #complete-message {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  #error-message {
    display: none;
    color: red;
  }