body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;

}

.titulo {
    color: #333;
    text-align: center;

}

p {
    color: #666;
}

strong {
    color: #000;
}